@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-white: #EEF0F4;
    --color-white-off: #DCE1EB;
    --color-red: #AC485A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
}

/* container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 320px;
    margin: 30px;
}

input {
    color: #432000;
    background-color: var(--color-white-off);
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.25rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

input::placeholder {
    opacity: 0.5;
}

button {
    color: #FDFDFD;
    background-color: var(--color-red);
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.25rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    cursor: pointer;
}